<% provide(:title, "#{@picture.user.name}の写真#{@picture.created_at.year}年") %>
<article class="show-picture-wrapper">
  <div class="show-picture-image-wrapper">
    <%= image_tag(@picture.image.url, class: "show-picture-image") if @picture.image &&@picture.image.url %>
  </div>
  <div class="show-picture-item">
    <div class="show-picture-header">
      <div class="show-picture-contributer">
        <a href=<%= user_path(@picture.user.id) %>>
          <%= image_tag(@picture.user.image.url) if @picture.user.image && @picture.user.image.url %>
        </a>
        <%= link_to @picture.user.name, user_path(@picture.user.id) %>
        <%= time_ago_in_words(@picture.created_at) %>
      </div>
      <% if @picture.user.id == current_user.id %>
        <button type="button" id="show-menu-btn">
          <i class="fas fa-ellipsis-h"></i>
        </button>
        <div id="show-mini-menu-wrapper" class="mini-menu-wrapper">
          <ul class="mini-menu-list">
            <li>
              <%= link_to(
              content_tag(:i,"", class: "far fa-edit") +
              content_tag(:span, "編集"),
              edit_picture_path) %>
            </li>
            <li>
              <%= link_to(
              content_tag(:i,"", class: "far fa-trash-alt") +
              content_tag(:span, "削除"),
              picture_path, method: :delete, data: {confirm: "本当に削除しますか?"}) %>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
    <div class="show-picture-content-wrapper">
      <span class="show-picture-content">
        <%= @picture.content %>
      </span>
    </div>
    <div class="show-picture-footer">
      <section class="favorite-btn-wrapper">
        <% if @picture.user.id != current_user.id %>
          <% if @favorite %>
            <%= link_to(content_tag(:i, "", class: "fas fa-bookmark"), favorite_path(id: @favorite.id, picture_id: @picture.id), method: :delete) %>
          <% else %>
            <%= link_to(content_tag(:i, "", class: "far fa-bookmark"), favorites_path(picture_id: @picture.id), method: :post) %>
          <% end %>
        <% end %>
      </section>
      <section class="favorites-count">
        <% if @favorites.any? %>
          <% if @favorites.count == 1 %>
            <%= content_tag(:span, @favorites[0].user.name) %>
          <% else @favorites.count >= 2 %>
            <% if @favorites[0..1].include?(@favorite) || !@favorites.include?(@favorite) %>
              <%= content_tag(:span, @favorites[0].user.name) %>、<%= content_tag(:span, @favorites[1].user.name) %>
            <% else %>
              <%= content_tag(:span, current_user.name) %>、<%= content_tag(:span, @favorites[0].user.name) %>
            <% end %>
            <% if @favorites.count > 2 %>
              、その他<%= @favorites.count - 2 %>人
            <% end %>
          <% end %>
          が「いいね!」しました
        <% end %>
      </section>
    </div>
  </div>
</article>
<article class="show-pictures">
  <span class="show-pictures-contributer"><strong><%= @picture.user.name %></strong>の他の投稿</span>
  <%= render partial: "pictures", locals: {pictures: @pictures} %>
</article>